*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
  font-family: 'brownistregular';
  src: url('fonts/brownist-webfont.woff2') format('woff2'),
       url('fonts/brownist-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #E4E6EB;
}

.container {
  display: flex;
  background-color: #18191a
}

.img_container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 33vw;
}

.logo_container {
  position: absolute;
  display: flex;
  background-color: rgb(0,0,0, 0.5);
  height: 25%;
  width: 100%;
}

.logo{
  flex: 1;
}

.logo_text {
  flex: 3;
  color: rgb(200, 255, 255);
  font-family: 'brownistregular';
  text-align: center;
  font-size: calc(3.5vw + 3.5vh);
  margin-top: 30px;
}

.puppy {
  width: 100%;
  height: 100%;
}

.img_text,
.img_link {
  color: white;
}

.img_text {
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: -30px;
}

.form_container {
  display: flex;
  flex-direction: column;

  width: 67vw;
}

.info_text_container {
  flex: 1;
  margin-left: 2vw;
  height: 33.3vh;

  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
  max-inline-size: 66ch;
  font-weight: bold;
}

.info_text_container:first-child {
  margin-top: 10vh;
}

.info_text_container p + p + p{
  margin-top: 4vh;
}

.italic {
  font-style: italic;
}

label {
  display: block;
}

#sign_up_data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 33.3vh;
  width: 100%;

  background-color: #e4e6eb;
  color: #3a3b3c;
  box-shadow: 0px 5px 5px rgb(248, 142, 22);
}

.form_column_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form_column_2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: -25vw
}

.form_column_1,
.form_title,
#submit_btn,
.action_container span {
  margin-left: 2vw;
}

.form_column_1,
.form_column_2{  
  margin-top: -2vw
}

input {
  width: 15vw;
  border: 1px solid #72737581;
  border-radius: 5px;
}

.form_title {
  width: 100%;
}

#password:invalid,
#password_confirm:invalid {
  outline: none;
  border: 1px solid red;
  border-radius: 5px;
}

#password:invalid + span{
  position: absolute;
  margin-top: 3vh;
  margin-left: -15vw;
}

#password:invalid + span::before{
  color: red;
  content: "*Passwords do not match (would be checked with JS)";
}

input:focus {
  outline: none;
  border: 1px solid rgb(0, 110, 255);
  border-radius: 5px;
}

.action_container {
  display: flex;
  flex-direction: column;

  height: 33.4vh;
  width: 100%;
  gap: 2vh;
}

#submit_btn{
  margin-top: 4vh;
  width: 10vw;
  height: 5vh;
  border-radius: 10px;

  background-color: rgba(248, 142, 22);
  border: 1px solid rgba(248, 142, 22);
  box-shadow: 4px 3px 5px rgba(248, 143, 22, 0.685);

  color: #e4e6eb;
  font-weight: bold;
  font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
}

#submit_btn:hover{
  background-color: rgba(248, 143, 22, 0.767);
  border: 1px solid rgba(248, 143, 22, 0.767);
  box-shadow: 4px 3px 5px rgba(248, 143, 22, 0.514);
}

#submit_btn:active {
  transform: scale(0.97);
}

.login_link {
  text-decoration: none;
  color: rgba(248, 142, 22)
}
